body {
  background-color: #b2967f;  /* 배경색 */
}

.btn1 {
  background-color: #e2a675;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20px;
}

.btn1:hover, .btn2:hover {
  background-color: #71421b; /* 호버 시 배경색 변경 */
}

.btn2 {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20px;
  background-color: #e2a675;
}



